.main-app {
	position: relative;
	margin: 3rem;
	font-family: sans-serif;
}

.main-app__container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.main-app__loading-bar {
	height: 5px;
	background-color: #ED1E79;
	position: absolute;
}