.home-component {
	margin-top: 5rem;
}

.home-component__buttons {
	display: flex;
	flex-direction: row;
    justify-content: center;
}

.home-component__buttons--answered, .home-component__buttons--unanswered {
	background-color: #0099ff !important;
	border: 3px solid #0099ff !important;
}

.home-component__buttons--unanswered {
	margin-right: 1rem !important;
}

.home-component__question-hide {
	display: none;
}

.home-component__buttons--answered span, .home-component__buttons--unanswered span {
	pointer-events: none;
}

.home-component__buttons--answered:hover, .home-component__buttons--unanswered:hover {
	background-color: #006bb2 !important;
}

.home-component__buttons--unanswered-active, .home-component__buttons--answered-active {
	border: 3px solid #005b99 !important;
}
