.home-component {
	margin-top: 5rem;
}

.home-component__buttons {
	display: flex;
	flex-direction: row;
    justify-content: center;
}

.home-component__buttons--answered, .home-component__buttons--unanswered {
	background-color: #1E2356 !important;
	border: 3px solid #1E2356 !important;
	padding-right: 4rem !important;
	padding-left: 4rem !important;
}

.home-component__buttons--answered > span, .home-component__buttons--unanswered > span {
	font-weight: 100;
	text-transform: capitalize;
}

.home-component__buttons--unanswered {
	margin-right: 1rem !important;
}

.home-component__question-hide {
	display: none;
}

.home-component__buttons--answered span, .home-component__buttons--unanswered span {
	pointer-events: none;
}

.home-component__buttons--answered:hover, .home-component__buttons--unanswered:hover {
	background-color: #006bb2 !important;
	border-color: #006bb2 !important;
}

.home-component__buttons--unanswered-active, .home-component__buttons--answered-active {
	border: 2px solid #29ABE3 !important;
}
