.leaderboard {
	margin-top: 4rem;
	width: 75%;
}

.leaderboard > div {
	position: relative;
	margin-bottom: 1.5rem;
}

.leaderboard > div img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid #000000;
}