.navmenu {
	border-bottom: 2px solid #FFFFFF;
}

.navmenu__list {
	display: flex;
    flex-direction: row;
	list-style-type: none;
	padding: 0;
    align-items: baseline;
}

.navmenu__list li:not(.navmenu__list-logo) {
	margin-left: 4rem;
}

.navmenu__list-logo {
	margin-right: auto;
}

.navmenu__list-logo img {
	margin-bottom: -4px;
}

.navmenu li a {
	text-decoration: none;
	color: #FFFFFF;
}

.navmenu li a:hover {
	color: #29ABE3;
}