.new-question {
	margin-top: 4rem;
	width: 75%;
}

#option-one, #option-two {
	margin-bottom: 1rem;
	display: block;
	width: 50%;
}

.new-question__form-button {
	width: 50%;
	background-color: #0099ff !important;
}