.single-question {
	width: 25rem;
	height: auto;
	display: flex;
	flex-direction: column;
	border: 1px solid #1E2356;
	background-color: #1E2356;
	color: #FFFFFF;
	border-radius: 5px;
	padding: 2rem 3rem;
	margin: 4rem auto;
	font-weight: 100;
}

.single-question__author {
	font-weight: 400;
	border-bottom: 1px solid #FFFFFF;
	margin-bottom: 2rem;
}

.single-question__title {
	font-size: .75rem;
	color: #29ABE3;
}

.single-question__button {
	background-color: #ED1E79 !important;
	border: 3px solid #ED1E79 !important;
	margin-top: 2rem !important;
	padding: 0.5rem 3rem;
}

.single-question__image {
	width: 13rem;
	max-width: 100%;
	height: auto;
	float: left;
	margin-right: 2rem;
}

label + span {
    padding: .5rem;
    right: 0 !important;
    top: -21px !important;
    background-color: goldenrod !important;
    color: #585858;
}

.single-question__OR {
	text-align: center;
	font-weight: 700;
}

input {
	margin-right: 1rem;
}

label + span:hover {
	transform: scale(1.1);
}

.single-question__block {
	margin-top: 3rem;
}

.single-question__block p > span {
	margin-right: 2rem;
}

.single-question__block-label {
	margin-right: 3rem;
	text-transform: capitalize;
}

.single-question__form label {
	display: inline-block;
}

.single-question__form label::first-letter {
	text-transform: capitalize;
}