.single-question { 
	margin-top: 4rem;
	width: 75%;
}

.single-question__button {
	display: block !important;
	background-color: #0099ff !important;
	border: 3px solid #0099ff !important;
	margin-top: 2rem !important;
}

label + span {
    padding: .5rem;
    right: 0 !important;
    top: -21px !important;
    background-color: goldenrod !important;
    color: #585858;
}

label + span:hover {
	transform: scale(1.1);
}

.single-question__block {
	margin-top: 3rem;
}

.single-question__block p > span {
	margin-right: 2rem;
}

.single-question__block-label {
	margin-right: 3rem;
	text-transform: capitalize;
}