.questionlist__menu-item {
    padding: 2rem 3rem;
    margin-bottom: 1rem;
    background-color: #1E2356;
    border-radius: 5px;
    width: 16rem;
    height: 16rem;
}

.questionlist__menu-item-anchor {
	display: block;
	padding: 0.5rem;
	background-color: #ED1E79 !important;
	font-weight: 100;
	text-decoration: none;
	color: #FFFFFF;
	margin: 0 auto;
	border-radius: 4px;
}

.questionlist__menu-item-anchor span {
	pointer-events: none;
	text-align: center;
	display: block;
}

.questionlist__menu-item-anchor:hover {
	background-color: #006bb2;
}

.questionlist__menu-item-author {
	border-bottom: 1px solid #FFFFFF;
	margin-bottom: 2rem;
	font-weight: 400;
}

.questionlist__menu-item-title {
	text-align: center;
	font-size: .90rem;
	color: #29ABE3;
}

.questionlist__menu-item-option::first-letter {
	text-transform: capitalize;
}

.questionlist__menu-item-option {
	text-align: center;
}

.questionlist__menu-item-OR {
	font-weight: 700;
	text-align: center;
}